/* Font Styles */
@font-face {
    font-family: "Courgette-Regular";
    src: url("./fonts/Courgette-Regular.ttf")
}
@font-face {
    font-family: "Domine-Regular";
    src: url("./fonts/Domine-Regular.ttf")
}
@font-face {
    font-family: "Domine-SemiBold";
    src: url("./fonts/Domine-SemiBold.ttf")
}
h1 h2 h3 h4 h5 h6 {
    font-family: Domine-SemiBold;
}

/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Domine-Regular;
    list-style: none;
}
*:focus {
    box-shadow: 0px 0px 10px magenta;
}


section {
    width: 100vw;
    min-height: 100vh;
    background-color: bisque;
}
.container {
    margin: 5vh auto;
    padding: 10px;
    width: 82vw;
    margin-bottom: 0;
}
input {
    padding: 5px;
    border-radius: 5px;
}
button {
    cursor: pointer;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    padding: 5px;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
}
.button:hover {
    box-shadow: 0 0 5px magenta;
}

